/* ---------------------------

 Typography

------------------------------ */

:root {
    --font-primary: Roboto;
    /* set base values */
    --text-base-size: 1em;
    --text-scale-ratio: 1.2;
    /* type scale */
    --text-xs: calc(1em / (var(--text-scale-ratio) * var(--text-scale-ratio)));
    --text-sm: calc(1em / var(--text-scale-ratio));
    --text-md: calc(1em * var(--text-scale-ratio));
    --text-lg: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio));
    --text-xl: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));
    --text-xxl: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));
    --text-xxxl: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));
    /* line-height */
    --heading-line-height: 1.2;
    --body-line-height: 1.4;
    /* spacing values */
    --space-xxxs: 0.25em;
    --space-xxs: 0.375em;
    --space-xs: 0.5em;
    --space-sm: 0.75em;
    --space-md: 1.25em;
    --space-lg: 2em;
    --space-xl: 3.25em;
    --space-xxl: 5.25em;
    --space-xxxl: 8.5em;
    /* colors */
    --ivory: #FFFFF0;
    --black: #000000;
    --primary-color: #64A653;
    --primary-color-light: #95D881;
    /* color-text */
    --color-text: var(--black);
    --color-text-heading: var(--black);
    --color-text-subtle: var(--black);
    --color-link: var(--primary-color);
    --color-link-visited: var(--primary-color-light);
}

html {
    box-sizing: border-box;
    background-color: var(--ivory);
}

*, *::before, *::after {
    box-sizing: inherit;
}

/* ---------------------------

General Styles

------------------------------ */

body {
    font-size: var(--text-base-size);
    font-family: var(--font-primary);
    color: var(--color-text);
    margin: 0;
}

h1, h2, h3, h4, form legend {
    color: var(--color-text-heading);
    margin-bottom: var(--space-xxs);
    line-height: var(--heading-line-height);
}

ul, ol {
    margin: 0px;
    padding: 0px;

}

/* text size */

.text--xxxl {
    font-size: var(--text-xxxl);
}

h1, .text--xxl {
    font-size: var(--text-xxl);
}

h2, .text--xl {
    font-size: var(--text-xl);
}

h3, .text-lg {
    font-size: var(--text-lg);
}

h4, .text-md {
    font-size: var(--text-md);
}

.text--sm, small {
    font-size: var(--text-sm);
}

.text--xs {
    font-size: var(text-xs);
}

p {
    line-height: var(--body-line-height);
}

a {
    color: var(--color-link);
}

a:visited {
    color: var(--color-link-visited);
}

b, strong {
    font-weight: bold;
}

.text-container h2, h3, h4 {
    margin-top: var(--space-sm);
}

.text-container ul, ol, p {
    margin-bottom: var(--space-md);
}

.text-container ul, ol {
    list-style-position: outside;
    padding-left: 24px;
}

.text-container ul {
    list-style-type: disc;
}

.text-container ol {
    list-style-type: decimal;
}

ul li, ol li {
    line-height: var(--body-line-height);
}

em {
    font-style: italic;
}

u {
    text-decoration: underline;
}

/*----------------------------

 Layout 

------------------------------ */

.body-wrapper, .footer-wrapper {
    display: grid;
    grid-auto-rows: minmax(auto, auto);
}

/* handset */

.body-wrapper {
    grid-template-columns: repeat(4, [col-start] 1fr);
    margin: 0px 16px;
    column-gap: 16px;
}

.body-wrapper>* {
    grid-column: col-start / -1;
}

.header-box {
    grid-row: 1 / 4;
}

.item1-box {
    grid-row: 18 / 24;
}

.item2-box {
    grid-row: 26 / 32;
}

.nav-wrapper > .content {
    grid-row: 1 / 5;
}

.footer-box {
    grid-row: 10 / 15;
}

/* small tablet */

@media (min-width: 600px) {
    .body-wrapper {
        grid-template-columns: repeat(8, [col-start] 1fr);
    }
}

/* large tablet */

@media (min-width: 720px) {
    .body-wrapper {
        grid-template-columns: repeat(8, [col-start] 1fr);
        margin: 0px 24px;
        column-gap: 24px;
    }
}

/* desktop */

@media (min-width: 840px) {
    .body-wrapper {
        grid-template-columns: repeat(12, [col-start] 1fr);
    }
    :root {
        --text-base-size: 1.25em;
        --text-scale-ratio: 1.25;
    }
}

/*----------------------------

 Styles

------------------------------ */


.main-nav-wrapper>.content {
    background-color: lightseagreen;
    margin-bottom: 0px;
}

.main-nav-wrapper ul {
    display: flex;
    list-style: none;
    margin: 0 -10px;
}

.main-nav-wrapper li {
    margin: 0 10px;
}

.main-nav-wrapper .push-right {
    margin-left: auto;
}

.main-nav-wrapper .logo {
    width: 100px;
    height: auto;
}

.body-wrapper>.content {
    flex-flow: column;
    align-items: center;
}

/* .header-box {
    background-color: indianred;
}

.item1-box {
    background-color: lightgreen;
}

.item2-box {
    background-color: lightskyblue;
} */

.footer-box {
    background-color: lightsalmon;
}